<h1>YOUR PLANTS</h1>
<button id="add-plant-btn" (click)="toggleModifyPlantModal()">+</button>
<div id="plants-container">
    <div id="plants-box">
        <app-plant-item *ngFor="let plant of plants" [plant]="plant" (editClicked)="onEditClicked($event)" (deleteClicked)="onDeleteClicked($event)"></app-plant-item>
    </div>
</div>
<span *ngIf="plants.length === 0">No plants added yet!</span>
<add-plant-item *ngIf="showModifyPlantModal"
    [plant]="selectedPlant"
    (closeBtnClicked)="onCloseClicked()"
    (save)="onPlantSaved($event)">
</add-plant-item>