<h1>YOUR PLANTS</h1>
<button (click)="modifyPlantModal()">Add Plant</button>
<div id="plants-container">
    <app-plant-item *ngFor="let plant of plants" [plant]="plant" (editClicked)="onEditClicked($event)" (deleteClicked)="onDeleteClicked($event)"></app-plant-item>
</div>
<span *ngIf="plants.length === 0">No plants added yet!</span>
<add-plant-item *ngIf="showModifyPlantModal"
    [plant]="selectedPlant"
    (closeBtnClicked)="modifyPlantModal()"
    (plantAdded)="onPlantAdded($event)">
</add-plant-item>