<div class="wrapper">
    <div class="nav-item">
        <mat-icon aria-hidden="false" aria-label="inventory" [inline]="true" routerLink="/inventory">yard</mat-icon>
        <span class="nav-item-title">Inventory</span>
    </div>
    <div class="nav-item">
        <mat-icon aria-hidden="false" aria-label="home" [inline]="true" routerLink="/home">home</mat-icon>
        <span class="nav-item-title">Home</span>
    </div>
    <div class="nav-item">
        <mat-icon aria-hidden="false" aria-label="calendar" [inline]="true" routerLink="/calendar">date_range</mat-icon>
        <span class="nav-item-title">Calendar</span>
    </div>
</div>
