<div class="wrapper">
    <mat-icon aria-hidden="false" aria-label="Example plant icon" [ngStyle]="{'color':'white'}" [inline]="true" (click)="navIconClicked($event)">yard</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" [ngStyle]="{'color':'white'}" [inline]="true" (click)="navIconClicked($event)">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example calendar icon" [ngStyle]="{'color':'white'}" [inline]="true" (click)="navIconClicked($event)">date_range</mat-icon>
</div>
