#overlay {
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#content {
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    div {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#edit-content {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 15%;
    
    margin: 40px;
    align-items: center;
    justify-content: center;

    border-radius: 25px;

    form {
        flex-direction: column;

        mat-form-field {
            max-width: 180px;
        }
    }
}

#buttons {
    flex-direction: column;
}

#display {
    display: flex;
    flex-direction: column;
}

#preview-img {
    width: 200px;
    height: 200px;
    background-color: #b5e48c;
    border-radius: 50px;
    border: 2px solid rgb(10, 50, 10);
}

#inner-container {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: min-content;

    border-radius: 50px;
    background-color: #99d98c;
    border: solid 3px #184E77;
}

#uploader-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

    mat-label {
        background-color: #168aad;
        margin-top: 10px;
        padding: 5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        cursor: pointer;

        span {
            font-weight: 500;
        }
    }
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-picker {
    display: none;
}


#florist-icon {
    height: 204px;
    width: 204px;
    font-size: 204px;
    border: solid 2px black;
    border-radius: 50px;
}

@media( max-width: 400px ) {

    #inner-container {
        width: 90%;
        height: 53%;
    }

    #content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #edit-content {
        margin: 0px 40px 0px 40px;
    }

    #form {
        flex-direction: column;
    }

    mat-form-field {
        max-width: 180px;
    }
}